<%= form_with(model: order_detail) do |form| %>
  <% if order_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
        <% order_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">    
    <div class="card col-md-8 mx-auto">
      <div class="card-body">
        <form>
          <div class="d-flex justify-content-end">
          <%= link_to "Back to order", :back, class: "btn-sm btn-secondary " %>
          </div>
          <div class="mb-3 mt-2">
            <%= form.hidden_field :order_id, class: "form-control", value: session[:order_id] %>
            <%= form.label :food_id, style: "display: block", class: "form-label" %>
            <%= form.select :food_id, Food.all.pluck(:name, :id), {prompt: 'Select food'}, {class: "form-control", id: "food"} %>
          </div>
          <div class="mb-3">
            <%= form.label :quantity, style: "display: block", class: "form-label" %>
            <%= form.number_field :quantity, class: "form-control" %>
          </div>       
          <div>
            <%= form.submit :submit, class: "btn btn-primary" %>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
