<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= order_detail.menu_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_detail.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_detail.quantity %>
  </p>

</div>
