<!--<%= render "navbar" %>-->
<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
      <p style="color: green"><%= notice %></p>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-1">
    <div class="">
      <h1>Report Order <%= Date.current %></h1>
    </div>
  </div>
  <div id="reports" class="mt-2 mb-5">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Customer Email</th>
          <th scope="col">Status</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% 
        i = 0
        @reports.each do |report| 
        %>
          <tr>
            <td><%= i += 1 %></td>
            <td><%= report.order_date %></td>
            <td><%= report.find_customer %></td>
            <td><%= report.status %></td>
            <td><%= report.count_total_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>