<!--<%= render "navbar" %>-->

<div class="container mt-5">
<div class="row">
  <div class="mx-auto">
    <p style="color: green"><%= notice %></p>
  </div>
</div>

<% render @food %>

<div>
  <% link_to "Edit this food", edit_food_path(@food) %> <!-- | -->
  <% link_to "Back to foods", foods_path %>

  <% button_to "Destroy this food", @food, method: :delete %>
</div>

  <div class="row">    
    <div class="card col-md-8 mx-auto">
      <div class="card-body">
        <form>          
          <div class="d-flex justify-content-between">
            <div><legend>Detail</legend></div>
          <div><%= link_to "Back to foods", foods_path, class: "btn-sm btn-secondary" %></div>
          </div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" value="<%= @food.name%>" readonly>            
          </div>
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" value="<%= @food.price%>" readonly>            
          </div>
          <div>
            <label class="form-label">Description</label>
            <textarea class="form-control" readonly><%= @food.description%></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Category</label>
            <input type="text" class="form-control" value="<%= @food.category%>" readonly>            
          </div>
          <div class="d-flex justify-content-between">
            <div class="">
              <%= link_to "Edit this food", edit_food_path(@food), class: "btn btn-warning" %>
            </div>
            <div class="invisible">
              <%= button_to "Destroy this food", @food, method: :delete, class: "btn btn-danger" %>
            </div>
          </div>
          <div class="mt-2">
            <%= button_to "Destroy this food", @food, method: :delete, class: "btn btn-danger" %>
          </div> 
        </form>
      </div>
    </div>
  </div>
</div>